* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  direction: ltr;
  font-family: "Inter", sans-serif;
  background-image: linear-gradient(45deg, #03a9fa, #ff53a0);
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0px 30px;
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .container .personal-photo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

main .hero {
  text-align: center;
}

main .hero h3,
h4 {
  color: #f5f5f5;
  margin-top: 5px;
}

main .container ul {
  margin: 0 auto;
  width: fit-content;
}

ul {
  list-style: none;
  transform-style: preserve-3d;
  perspective: 500px;
  transition: 0.5s ease-in-out;
}

ul li {
  margin-bottom: 5px;
  box-shadow: 0 -15px 25px rgb(0, 0, 0, 0.25);
  transition: 0.5s ease-in-out;
  transition-delay: calc(var(--i) * 0.5);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

ul li a {
  background: repeating-linear-gradient(45deg, #e65ca9, #a473c1 50px);
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  width: 450px;
}

ul li:nth-child(1) {
  transform: translateZ(-50px) translateY(20px);
  -webkit-transform: translateZ(-50px) translateY(20px);
  -moz-transform: translateZ(-50px) translateY(20px);
  -ms-transform: translateZ(-50px) translateY(20px);
  -o-transform: translateZ(-50px) translateY(20px);
}

ul li:nth-child(3) {
  transform: translateZ(50px) translateY(-30px);
  -webkit-transform: translateZ(50px) translateY(-30px);
  -moz-transform: translateZ(50px) translateY(-30px);
  -ms-transform: translateZ(50px) translateY(-30px);
  -o-transform: translateZ(50px) translateY(-30px);
}

ul li:nth-child(4) {
  transform: translateZ(95px) translateY(-80px);
  -webkit-transform: translateZ(95px) translateY(-80px);
  -moz-transform: translateZ(95px) translateY(-80px);
  -ms-transform: translateZ(95px) translateY(-80px);
  -o-transform: translateZ(95px) translateY(-80px);
}

ul li:nth-child(5) {
  transform: translateZ(110px) translateY(-120px);
  -webkit-transform: translateZ(110px) translateY(-120px);
  -moz-transform: translateZ(110px) translateY(-120px);
  -ms-transform: translateZ(110px) translateY(-120px);
  -o-transform: translateZ(110px) translateY(-120px);
}

ul:hover {
  perspective: none;
  transform-style: flat;
  transform: translateZ(0) translateY(0);
  -webkit-transform: translateZ(0) translateY(0);
  -moz-transform: translateZ(0) translateY(0);
  -ms-transform: translateZ(0) translateY(0);
  -o-transform: translateZ(0) translateY(0);
  gap: 50px;
}

ul:hover li {
  opacity: 1;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  margin: 10px 0;
}

ul li a img {
  max-width: 50px;
  flex: 1;
}

ul li a > div {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

ul li a > div span {
  display: block;
  text-align: center;
  color: #ffffff;
  font-weight: 800;
  letter-spacing: 1px;
}

ul li a > div span:nth-child(1) {
  font-weight: 600;
}

ul li a > div span:nth-child(2) {
  font-weight: 500;
}

ul li a button {
  appearance: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px dashed #ccc;
  cursor: pointer;
}

.footer {
  width: fit-content;
  /* background-color: #00000040; */
  background-color: #0f0f0f;
  color: #d9d9d9;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  border-block: 1px solid #000;
}

.author {
  text-decoration: underline dotted 1px #000;
}

.year {
  color: #aea68f;
  font-weight: 800;
}

@media (max-width: 467px) {
  ul {
    transform-style: initial;
    perspective: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    margin: 20px auto !important;
  }

  ul li {
    box-shadow: none;
    transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
  }
}
