body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(45deg, #03a9fa, #ff53a0);
  overflow-x: hidden;
}

.projects-section {
  padding: 2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: #cde1eb;
  margin: 1.5rem 0;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: left;
  border-bottom: 2px solid #ff53a0;
  padding-bottom: 0.5rem;
}

.project-card {
  background: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  text-decoration: none;
  color: #333;
  transition: transform 0.2s, border-color 0.2s;
  position: relative;
}

.project-card h3 {
  color: #03a9fa;
  margin: 0 0 0.5rem;
}

.project-card p {
  color: #ff53a0;
}

.project-card:hover {
  transform: scale(1.05);
  border-color: #03a9fa;
}

.alert-warning {
  width: 350px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff3cd;
  color: #856404;
  border-color: #ffeeba;
  padding: 0 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  top: 20px;
  transition: transform .5s linear;
  -webkit-transition: transform .5s linear;
  -moz-transition: transform .5s linear;
  -ms-transition: transform .5s linear;
  -o-transition: transform .5s linear;
}

.alert-warning.remove{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

button{
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  color: #000000d5;
}


@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
  .alert-warning {
    width: 50%;
 }
}
