* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  direction: ltr;
  font-family: "Inter", sans-serif;
  background-image: linear-gradient(45deg, #03a9fa, #ff53a0);
  /* background-image: linear-gradient(45deg, #518f4e, #000000); */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0px 30px;
}

main .container .personal-photo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px dotted #ddd;
}

main .hero {
  text-align: center;
}

main .hero h1 {
  color: #f5f5f5;
}

main .container ul {
  margin: 0 auto;
}

ul {
  list-style: none;
  transform-style: preserve-3d;
  perspective: 500px;
  gap: 0;
  position: relative;
  transition: 0.5s ease-in-out;
  display: grid;
}

ul li {
  margin-bottom: 5px;
  box-shadow: 0 -15px 25px rgb(0, 0, 0, 0.25);
  transition: 0.5s ease-in-out;
  transition-delay: calc(var(--i) * 0.5);
}

ul li a {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  width: 400px;
}

ul li:nth-child(1) {
  transform: translateZ(-75px) translateY(20px);
  -webkit-transform: translateZ(-75px) translateY(20px);
  -moz-transform: translateZ(-75px) translateY(20px);
  -ms-transform: translateZ(-75px) translateY(20px);
  -o-transform: translateZ(-75px) translateY(20px);
}

ul li:nth-child(3) {
  transform: translateZ(75px) translateY(-30px);
  -webkit-transform: translateZ(75px) translateY(-30px);
  -moz-transform: translateZ(75px) translateY(-30px);
  -ms-transform: translateZ(75px) translateY(-30px);
  -o-transform: translateZ(75px) translateY(-30px);
}

ul li:nth-child(4) {
  transform: translateZ(95px) translateY(-80px);
  -webkit-transform: translateZ(95px) translateY(-80px);
  -moz-transform: translateZ(95px) translateY(-80px);
  -ms-transform: translateZ(95px) translateY(-80px);
  -o-transform: translateZ(95px) translateY(-80px);
}

ul li:nth-child(5) {
  transform: translateZ(110px) translateY(-120px);
  -webkit-transform: translateZ(110px) translateY(-120px);
  -moz-transform: translateZ(110px) translateY(-120px);
  -ms-transform: translateZ(110px) translateY(-120px);
  -o-transform: translateZ(110px) translateY(-120px);
}

ul:hover {
  display: block;
  gap: 50px;
  transform-style: flat;
  perspective: none;
  transform: translateZ(0) translateY(0);
  -webkit-transform: translateZ(0) translateY(0);
  -moz-transform: translateZ(0) translateY(0);
  -ms-transform: translateZ(0) translateY(0);
  -o-transform: translateZ(0) translateY(0);
}

ul:hover li {
  opacity: 1;
  margin: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  margin: 10px 0;
}

ul li a img {
  max-width: 50px;
  flex: 1;
}

ul li a > div {
  flex: 2;
}

ul li a > div span {
  display: block;
  text-align: center;
  color: #000;
}

ul li a > div span:nth-child(1) {
  font-weight: 600;
}

ul li a > div span:nth-child(2) {
  font-weight: 500;
}

ul li a button {
  appearance: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px dashed #ccc;
  cursor: pointer;
}
.footer {
  background-color: #00000040;
  color: #d9d9d9;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
}

.year {
  color: #aea68f;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  ul {
    display: block;
  }

  ul li {
    margin: 10px 0;
    box-shadow: none;
  }

  ul li a {
    width: auto;
    padding: 10px;
    font-weight: 500;
  }

  ul:hover {
    display: block;
    gap: 50px;
    transform-style: flat;
    perspective: none;
    transform: translateZ(0) translateY(0);
    -webkit-transform: translateZ(0) translateY(0);
    -moz-transform: translateZ(0) translateY(0);
    -ms-transform: translateZ(0) translateY(0);
    -o-transform: translateZ(0) translateY(0);
  }

  ul:hover li {
    opacity: 1;
    margin: 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    margin: 10px 0;
  }
}
